<h2 class="text-center">Once you register , You will start to feel happy else you will die single </h2>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="text-center mb-4">Register</h2>
          <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" formControlName="email" class="form-control" required>
              <div *ngIf="registerForm.get('email')?.dirty && registerForm?.get('email')?.hasError('required')">
                <div class="text-danger">Email is required.</div>
              </div>
              <div *ngIf="registerForm.get('email')?.dirty && registerForm?.get('email')?.hasError('email')">
                <div class="text-danger">Invalid email format.</div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" formControlName="password" class="form-control" required>
              <div *ngIf=" registerForm.get('password')?.dirty && registerForm?.get('password')?.hasError('required')">
                <div class="text-danger">Password is required.</div>
              </div>
              <div *ngIf="registerForm.get('password')?.dirty &&registerForm?.get('password')?.hasError('minlength')">
                <div class="text-danger">Min Password Length is 6.</div>
              </div>
            </div>
            <button type="submit" class="btn btn-success btn-block rgst" [disabled]="!registerForm?.valid">Register</button>
          </form>
          <div class="text-center mt-3">
            <p>Already have an account? <button class="btn btn-success"  (click)="navigateToLogin()">Login here</button></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
